@use "theme/base" as *;

/**
 * General
 */
[class*="#{$shale}"] {
	box-sizing: border-box;
	font-family: var(--#{$shale}font-family);
}

@media (prefers-reduced-motion: reduce) {
	[class*="#{$shale}"] {
		transition: none !important;
	}
}
