/*
** Typography
*/
/* Headers */
.#{$shale}h1, .#{$shale}h2, .#{$shale}h3, .#{$shale}h4 {
	font-weight: 500;
	margin: 0.75em 0 0.5em;
	color: var(--#{$shale}text-colour);
}

.#{$shale}h1 { font-size: var(--#{$shale}font-4); }
.#{$shale}h2 { font-size: var(--#{$shale}font-3); }
.#{$shale}h3 { font-size: var(--#{$shale}font-2); }
.#{$shale}h4 { font-size: var(--#{$shale}font-1); }

@for $i from -3 through 7 {
	.#{$shale}font-#{$i} { font-size: var(--#{$shale}font-#{$i}); }
}

.#{$shale}bigger-text { --#{$shale}font-0: 1.25rem; }

/* Code */
.#{$shale}code {
	background: var(--#{$shale}code-background);
	border-radius: .2rem;
	color: var(--#{$shale}text-colour);
	font-family: "Consolas", "Lucida Console", "Monaco", monospace;
	padding: .25rem;
	white-space: pre-wrap;
	word-wrap: break-word;
}
