/*
** Typography
*/
/* Headers */
.#{$shale}h1, .#{$shale}h2, .#{$shale}h3, .#{$shale}h4 {
	font-weight: 500;
	margin: 0.5em 0 0.25em;
}

.#{$shale}h1 { font-size: var(--#{$shale}font-4); }
.#{$shale}h2 { font-size: var(--#{$shale}font-3); }
.#{$shale}h3 { font-size: var(--#{$shale}font-2); }
.#{$shale}h4 { font-size: var(--#{$shale}font-1); }

@for $i from -3 through 7 {
	.#{$shale}font-#{$i} { font-size: var(--#{$shale}font-#{$i}); }
}

/* Code */
.#{$shale}code {
	background-color: #EEE;
	border-radius: .2rem;
	color: #171700;
	font-family: "Consolas", "Lucida Console", "Monaco", monospace;
	padding: .25rem;
	white-space: pre-wrap;
	word-wrap: break-word;
}
