@use "../theme/base" as *;

/*
 * Body
 */
.#{$shale}body {
  background: var(--#{$shale}background);
  color: var(--#{$shale}text);
  font-family: var(--#{$shale}font-family);
  font-size: var(--#{$shale}font-0);
  line-height: calc(var(--#{$shale}font-0) * 1.5);
  margin: 0;
  min-height: 100%;
  padding: 0;
}
