@use "../theme/base" as *;

/*
 * Caption Buttons
 */
.#{$shale}caption {
  &-button {
    color: inherit;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    opacity: 0.75;
    padding: 0 0.3em;
    text-decoration: none;
    filter: var(--#{$shale}filter-shadow-moderate);
    transition:
      opacity 0.125s ease,
      filter 0.125s ease;

    &:hover,
    &:focus-visible,
    &#{$hover},
    &#{$focus} {
      opacity: 1;
      filter: var(--#{$shale}filter-shadow-puffy);
      text-decoration: none;
    }

    &:focus-visible,
    &#{$focus} {
      text-shadow: initial;
    }

    &:active,
    &#{$active} {
      opacity: 0.3;
      filter: var(--#{$shale}filter-shadow-subtle);
    }
  }
}
