@use "../theme/base" as *;

/* Caption Menu */
.#{$shale}caption-menu {
  align-items: center;
  display: flex;
  gap: 0.75rem;
  height: var(--#{$shale}header-height, 3rem);
  list-style: none;
  margin: 0;
  padding-right: 0.75rem;
  pointer-events: auto;
  position: absolute;
  right: 0;
  top: 0;
}

/*
 * Caption Buttons
 */
.#{$shale}caption {
  &-button {
    background: transparent;
    border: none;
    color: inherit;
    display: inline-block;
    fill: var(--#{$shale}header-text);
    filter: var(--#{$shale}filter-shadow-moderate);
    font-size: var(--#{$shale}font-1);
    font-weight: bold;
    opacity: 0.75;
    outline-color: var(--#{$shale}accent-400);
    padding: 0 0.3em;
    text-decoration: none;
    transition:
      opacity 0.125s ease,
      filter 0.125s ease;

    &:hover,
    &:focus-visible,
    &#{$hover},
    &#{$focus} {
      opacity: 1;
      filter: var(--#{$shale}filter-shadow-puffy);
      text-decoration: none;
    }

    &:focus-visible,
    &#{$focus} {
      text-shadow: initial;
    }

    &:active,
    &#{$active} {
      opacity: 0.3;
      filter: var(--#{$shale}filter-shadow-subtle);
    }

    .#{$shale}icon {
      fill: var(--#{$shale}header-text);
    }
  }
}
