@use "../theme/base" as *;

/*
 * Command Bar
 */
.#{$shale}command-bar {
  background: var(--#{$shale}card-background);
  border-top: 1px var(--#{$shale}secondary-border) solid;
  display: flex;
  align-items: center;
  color: var(--#{$shale}text-colour);
}
