@use "../theme/base" as *;

/**
 * Link
 */
.#{$shale}link {
  color: var(--#{$shale}link-colour);
  text-decoration: none;

  .#{$shale}icon {
    fill: var(--#{$shale}link-colour);
    font-size: 0.75em;
    padding-left: 0.25em;
  }

  &:hover,
  &:focus-visible,
  &#{$hover},
  &#{$focus} {
    text-decoration: underline;
  }

  &:active,
  &#{$active} {
    color: var(--#{$shale}link-colour-active, var(--#{$shale}link-colour));
  }

  &:disabled,
  &#{$disabled} {
    color: var(--#{$shale}link-colour-disabled, var(--#{$shale}link-colour));
    pointer-events: none;
    text-decoration: line-through;
  }
}
