@use "../theme/base" as *;

/*
 * Caption Buttons
 */
.#{$shale}caption {
	&-button {
		color: inherit;
		display: inline-block;
		font-size: 1rem;
		font-weight: bold;
		opacity: .75;
		padding: 0 .3em;
		text-decoration: none;
		filter: drop-shadow(var(--#{$shale}shadow-moderate));
		transition: opacity .125s ease;

		&:hover, &:focus-visible, &#{$hover}, &#{$focus} {
			opacity: 1;
			text-decoration: none;
		}

		&:focus-visible, &#{$focus} {
			text-shadow: initial;
		}

		&:active, &#{$active} {
			opacity: .3;
		}

	}
}
