/*
 * Footer
 */
.#{$shale}footer {
	background: #FCFCFC linear-gradient(#FCFCFC, #E6E6E6);
	border-top: var(--#{$shale}border-width) solid #9B9B9B;
	box-shadow: 0 -4px 25px 0 rgba(0, 0, 0, .2);
	color: var(--#{$shale}text);
	font-size: var(--#{$shale}font-0);
	line-height: 1.5;
	margin: 1em 0 0;
	padding: 1em 0 .5em;
	width: 100%;

	&-flex {
		align-content: flex-start;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;

		&-item {
			margin: 0 3em;
			width: 12.5rem;
		}

		&-link {
			display: block;
			transition: background .3s ease, box-shadow .3s ease, opacity .3s ease;
		}
	}

	&-link {
		color: inherit;
		min-width: 8em;
		opacity: .8;
		transition: opacity .125s ease;

		&:focus-visible, &#{$focus} {
			background-color: white;
			color: black;
			opacity: 1;
			padding: 0 2px;
		}

		&:hover, #{$hover} {
			opacity: 1;
		}

		&:active, #{$active} {
			opacity: .3;
		}

	}

	&-heading {
		display: inline-block;
		height: 1.5em;
		margin: 0;
		pointer-events: none;
		width: 6em;
	}

	&-logo {
		margin: 0 !important; // Margin is removed for the left of the logo

		&-link {
			background: url("img/logo.svg") no-repeat center;
			background-size: 100% 100%;
			height: 3em;
			width: 3em;
		}
	}

	&-text {
		display: flex;
		flex-wrap: wrap;

		&-paragraph {
			margin-bottom: 0;
			padding: 0 1em;
		}
	}
}
