/*
 * Checkboxes and Radio
 */
input {
	&[type="text"] {
		background: linear-gradient(#F9F9F9, white);
		border: 0;
		border-radius: .2rem;
		box-shadow: 0 0 0 1px #DADADA, 0 0 0 2px #B5B5B5;
		color: var(--text);
		font-family: inherit;
		image-rendering: pixelated;
		padding: .5em;
		transition: .3s box-shadow ease;

		&:hover, &.hover { box-shadow: 0 0 0 1px #CECECE, 0 0 0 2px white; }

		&:focus, &.focus {
			box-shadow: 0 0 0 1px rgb(calc(var(--a-r) + 55), calc(var(--a-g) + 44), calc(var(--a-b) + 26)), 0 0 0 2px rgb(calc(var(--a-r) + 27), calc(var(--a-g) + 22), calc(var(--a-b) + 37)); // TODO: make this line shorter
			outline: 1px solid white;
		}
	}

	&[type="checkbox"], &[type="radio"] {
		opacity: 0;
		position: absolute;

		&:focus + label .sc-input {
			background: var(--button-hover);
			border-color: var(--button-border-hover);
			box-shadow: inset 0 0 0 1px var(--button-inset-border-hover);
		}

		+ label { user-select: none; }

		+ label .sc-input {
			background: var(--button);
			border: 1px solid var(--button-border);
			box-shadow: inset 0 0 0 1px var(--button-inset-border);
			color: var(--text);
			display: inline-block;
			height: .8em;
			transition: background .3s ease, border-color .3s ease;
			user-select: none;
			width: .8em;
		}

		+ label .sc-input::before {
			content: "";
			display: block;
			margin: auto;
			position: relative;
			transition: background .3s ease;
		}

		&:hover + label .sc-input {
			background: var(--button-hover);
			border-color: var(--button-border-hover);
			box-shadow: inset 0 0 0 1px var(--button-inset-border-hover);
		}
	}

	&[type="checkbox"] {
		+ label .sc-input { border-radius: .25rem; }

		+ label .sc-input::before {
			bottom: .05em;
			clip-path: polygon(50% 70%, 70% 16%, 80% 16%, 50% 100%, 40% 100%, 30% 50%, 40% 50%);
			height: .8em;
			width: .8em;
		}

		&:checked + label .sc-input::before {
			background: rgb(var(--input-fill));
		}

		&:indeterminate + label .sc-input::before {
			background: rgb(var(--input-fill));
			border-radius: 30%;
			clip-path: initial;
			height: .5em;
			top: .15em;
			width: .5em;
		}
	}

	&[type="radio"] {
		+ label .sc-input { border-radius: 100%; }

		+ label .sc-input::before {
			border-radius: 100%;
			height: .4em;
			top: .2em;
			width: .4em;
		}

		&:checked + label .sc-input::before {
			background: rgb(var(--input-fill));
		}
	}
}
