/*
** Hero for index.html
*/
.index {
.hero, .features, .slide {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: calc(85% - 6rem);
	justify-content: space-between;
	line-height: 1.5;
	margin: auto 1em 4em auto;
	min-height: 20rem;

	// div { width: 45%; }

	h1 {
		font-size: var(--font-6);
		margin: 0;
	}

	.subheading {
		display: block;
		font-size: 1.563rem;
	}

	h2, h3 { margin: 0 0 .25rem; }

	p { margin: .25rem 0 1rem; }

	.left-half, .right-half {
		align-self: center;
		// height: 50%;
		line-height: 2;
		width: 45%;

		p, h2 {
			position: relative;
			z-index: 1;
		}

		div { margin-top: 1em; }
	}

	.left-half {
		order: 1;
		text-align: left;
	}

	.right-half {
		order: 2;
		text-align: right;

		img {
			border-bottom-right-radius: .2em;
			bottom: 0;
			max-height: initial;
			padding: 0;
			position: absolute;
			right: 1em;
		}
	}

	img { max-height: 20em; }

}

.hero {
	margin: 20vh 1em;
	.left-half { margin-top: 1em; } // to align with the 2 other sections at the top part
}

.features {
	div { width: initial; }
}

.interlude {
	display: block;
	flex: 0 0 100%;
	font-size: var(--font-4);
	margin-bottom: .8em;
	max-height: 2rem;
	text-align: center;
	width: 100%;
}

}
