/*
 * Menu
 */
/* Caption Buttons */
.#{$shale}caption-menu {
//  display: none;
	float: right;
	line-height: 3rem;
	padding-right: 1rem;
	pointer-events: auto;
	position: relative;
}

.#{$shale}caption-button {
	filter: invert(1);
}


/* Header + Menu Bar */
.#{$shale}header {
	background: #575757 linear-gradient(#575757 0%, #454545 100%);
	border-bottom: var(--#{$shale}border-width) solid #9B9B9B;
	box-shadow: 0 5px 20px 1px rgba(0, 0, 0, .75);
	color: white;
	display: block;
	fill: white;
	position: sticky; // note This might not be how it works
	top: -3rem; // note This might not be proper use of sticky positioning
	transition: transform .3s ease;
	user-select: none;
	width: 100%;
	z-index: 41;

	&[disabled], &#{$disabled} {
		background: #8a8a8a linear-gradient(#8a8a8a 0%, #787878 100%);
	}
}

.#{$shale}header-title {
	font-size: var(--#{$shale}font-1);
	height: 3rem;
	line-height: 3rem;
	opacity: .7;
	text-align: center;
	text-shadow: 1px 0 10px rgba(0, 0, 0, .5);
}

.#{$shale}header-text {
	display: inline-block;
}

.#{$shale}nav {
	background: transparent;
	bottom: .225em;
	display: inline-block;
	height: 3rem;
	line-height: 3.25rem;
	position: relative;
	text-align: center;
	width: inherit;
	z-index: 42;
}

.#{$shale}menu-bar-button {
	background: transparent;
	border-radius: initial;
	border: initial;
	box-shadow: initial;
	color: inherit;
	display: inline-block;
	line-height: 3rem;
	opacity: .7;
	padding: 0 5%;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 0 6px rgba(0, 0, 0, .75);
	transition: box-shadow .125s ease;

	&:hover, &.shale-v1-current, &#{$hover}, #{$focus}, &:focus-visible {
		box-shadow: inset 0 -.25rem 0 0 rgb(var(--#{$shale}accent)), inset 0 -3.25rem 1rem -3rem rgba(var(--#{$shale}accent), .69);
		opacity: 1;
	}

	&:active, &#{$active} { box-shadow: inset 0 -.25em 0 0 rgb(calc(var(--#{$shale}a-r) - 26), calc(var(--#{$shale}a-g) - 32), calc(var(--#{$shale}a-b) - 36)); }

	&:disabled, &#{$disabled}, &[disabled] {
		box-shadow: inherit;
		opacity: .3;
		text-shadow: none;
	}
}

/*
** Command Bar
*/
.#{$shale}command-bar {
	background: linear-gradient(rgb(var(--#{$shale}card-1)), rgb(var(--#{$shale}card-2)));
	border-top: var(--#{$shale}border-width) #9B9B9B solid;
	display: flex;
	align-items: center;
	color: var(--#{$shale}text-colour);
}
