/*
 * Alert, Info, Warning
 * icons coloured using https://codepen.io/sosuke/pen/Pjoqqp
 */

.note {
	border: 1px solid transparent;
	border-radius: .2rem;
	display: inline-block;
	margin-bottom: 1rem;
	padding: .9rem;

	.note-title::before {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		content: " ";
		display: inline-block;
		height: 1em;
		margin-right: .3em;
		width: 1em;
	}

	&.info {
		background: var(--note-info-base);
		border-color: var(--note-info-dark);
		color: var(--note-info-dark);

		.note-title::before {
			background-image: url("icons.svg#icon-info");
			filter: invert(15%) sepia(6%) saturate(7037%) hue-rotate(156deg) brightness(95%) contrast(95%);
		}
	}

	&.alert {
		background: var(--note-alert-base);
		border-color: var(--note-alert-dark);
		color: var(--note-alert-dark);

		.note-title::before {
			background-image: url("icons.svg#icon-warning");
			filter: invert(8%) sepia(48%) saturate(3094%) hue-rotate(340deg) brightness(98%) contrast(104%);
		}
	}

	&.warn {
		background: var(--note-warn-base);
		border-color: var(--note-warn-dark);
		color: var(--note-warn-dark);

		.note-title::before {
			background-image: url("icons.svg#icon-danger");
			filter: invert(19%) sepia(85%) saturate(611%) hue-rotate(28deg) brightness(97%) contrast(93%);
		}
	}

	&.tip {
		background: var(--note-tip-base);
		border-color: var(--note-tip-dark);
		color: var(--note-tip-dark);

		.note-title::before {
			background-image: url("icons.svg#icon-lightbulb");
			filter: invert(11%) sepia(37%) saturate(7188%) hue-rotate(107deg) brightness(91%) contrast(93%);
		}
	}
}
