/*
** Alert, Info, Warning
*/

// todo: color the icons

.note {
	border: 1px solid transparent;
	border-radius: .2rem;
	display: inline-block;
	margin-bottom: 1rem;
	padding: .9rem;

	.note-title::before {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		content: " ";
		display: inline-block;
		height: 1em;
		margin-right: .3em;
		width: 1em;
	}

	&.info {
		background: var(--note-info-base);
		border-color: var(--note-info-dark);
		color: var(--note-info-dark);

		.note-title::before { background-image: url("icons.svg#icon-info"); }
	}

	&.alert {
		background: var(--note-alert-base);
		border-color: var(--note-alert-dark);
		color: var(--note-alert-dark);
	
		.note-title::before { background-image: url("icons.svg#icon-warning"); }
	}

	&.warn {
		background: var(--note-warn-base);
		border-color: var(--note-warn-dark);
		color: var(--note-warn-dark);
	
		.note-title::before { background-image: url("icons.svg#icon-danger"); }
	}

	&.tip {
		background: var(--note-tip-base);
		border-color: var(--note-tip-dark);
		color: var(--note-tip-dark);
	
		.note-title::before { background-image: url("icons.svg#icon-lightbulb"); }
	}
}
