/*
 * Accessibility
 */
/* Tab Skip */
.#{$shale}skip {
	height: 1px;
	left: -25565vw;
	overflow: hidden;
	position: absolute;
	top: 1em;
	width: 1px;
	z-index: -1337;

	&:focus-visible, &:active, #{$focus}, #{$active} {
		background: var(--#{$shale}code-background);
		border: 3px solid var(--#{$shale}button-border-active);
		border-radius: 15px;
		color: var(--#{$shale}text-colour);
		outline: none;
		font-size: 1rem;
		height: auto;
		left: 1rem;
		margin: 1rem .5rem;
		overflow: auto;
		padding: .5rem 1rem;
		text-align: center;
		width: auto;
		text-decoration: none;
		z-index: 6969;
	}
}

/* screen reader only text */
.#{$shale}sr-only { // hidden text for narrators
	height: 1px;
	left: -420691337px;
	overflow: hidden;
	position: absolute;
	top: auto;
	width: 1px;
}
